.container {
  margin-top: auto;
  align-items: center;
  height: 500px;
  width: 500px;
  border: solid black;
}

button {
  font-family: arial;
  width: 500px;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  padding: 10px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}
